---
---
:root {
  font: 1rem / 1.5 Avalon, Century Gothic, sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
}

header,
footer {
  margin: 1rem 0;
  text-align: center;

  body>& ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}

article {
  margin: auto;
  max-width: 43rem;
}

h1 {
  font-size: xx-large;
}
