<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% assign simple_title = site.title | strip_html %}{% if page.title != simple_title %}{{ page.title }} | {% endif %}{{ simple_title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | absolute_url }}">
  </head>
  <body>
    <header>
      <p>
        <strong><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></strong>
    </header>
    <article id="content">
      {{ content }}
    </article>
    <footer>
      <ul>
        <li>
          <a href="{{ "/" | absolute_url }}">⌂&nbsp;Home</a>
        <li>
          <a href="#">↑&nbsp;Top</a>
      </ul>
    </footer>
  </body>
</html>
